*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
}

.headings{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    margin-left: 10rem;
    padding-top: 2rem;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav li{
    padding-right: 10rem;
}
footer{
    display: flex;
    margin-top: auto;
    bottom: 0;
    color:white;
    background-color: black;
    width:100%
}
.copyright{
    margin-left: 7rem;
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
}
.footerText{
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
}
.cards{
    width:86%;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 8%;
    margin-left: 12%;
    margin-right: 12%;
}
.card{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex-direction: column;
    margin: 1rem;
    padding: 0.5rem;
    width: 300px;
    height: 500px;
    border: 1px solid rgba(0,0,0,0.2);
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.card .icons{
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    display: flex;
    justify-content: space-between;
}
.card .icons .clap{
    display: flex;
}
.card .icons .clapCount{
    padding-top: 0;
}

.card hr{
   border: 0.5px solid rgba(0,0,0,0.2);
}
.card p,.card h3{
    padding: 0.4rem;
}
.card .timestamp{
    font-size: 0.8rem;
    color:rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
}
.likeAcive{
   color: red;
   background-color: red;
}

@media screen and (max-width:800){
    
}